.popularity, .rating {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 20px;

  height: 40px;
  width: 50%;
}

.poster-img {
  max-width: 500px;
  width: 100%;
}

.stats {
  display: flex;
  flex-direction: row;

  gap: 80px;

  max-width: 200px;

  margin-bottom: 50px;
}

.popularity h4 {
  display: flex;
  flex-direction: row;

  gap: 10px;
}

.rating h4 {
  display: flex;
  flex-direction: row;

  gap: 10px;
}

.header {
  margin: 10px 0;
}

.overview {
  max-width: 470px;
  width: 100%;
}

@media (max-width: 500px) {
  .stats {
    flex-direction: column;
    gap: 0px;
  }
}