.popularity, .rating {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 20px;

  height: 40px;
  width: 50%;
}

.poster-img {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 330px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 5px;
  width: 180px;

  margin-bottom: 20px;
}

.popularity h4 {
  display: flex;
  flex-direction: row;

  gap: 5px;
}

.rating h4 {
  display: flex;
  flex-direction: row;

  gap: 5px;
}

.header {
  font-size: 18px;
  margin: 10px 0;
}

.bookmark-button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: rgb(24, 172, 56);
  font-size: 20px;
}

.active {
  color: pink;
}

@media (max-width: 500px) {
  .stats {
    flex-direction: row;
    gap: 0px;
  }
}